<!DOCTYPE html>
<html>
  <head>

  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../Content/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">


    <meta charset="utf-8">
    <title>Curl up and Dye</title>
  </head>
  <body>
    @RenderBody()
  </body>
</html>
