@{
  Layout="shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Curl up and Dye.</title>
  </head>
  <body>


    <div class="container">
<div class="jumbotron">
  <h1>Curl Up & Dye.</h1>

</div>

<h3><a href="/stylists"> View Our Stylists!</h3>
<h3><a href="/clients"> View Our Clients!</h3>

</div>
</body>
</html>
